.note {
  all: revert;
}

.note * {
  all: revert;
}

.note blockquote {
  font-size: 1em;
  width: max-content;
  font-family: Open Sans;
  font-style: italic;
  color: black;
  padding: 0.2em 30px 0.2em 30px;
  border-left: 8px solid #0063d1;
  line-height: 1;
  position: relative;
  background: #ededed;
}

.note a {
  all: revert;
}
