.ck-editor__editable_inline {
  height: 87vh;
}

ol {
  all: revert;
}

ol * {
  all: revert;
}

ul {
  all: revert;
}

h1 {
  all: revert;
}

h2 {
  all: revert;
}

h3 {
  all: revert;
}

h4 {
  all: revert;
}
